    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');
    html {
        font-family: 'Roboto', sans-serif;
        color: #000;
    }
    /* header */
    
    #main #header .image {
        margin-left: 500px;
    }
    /*     
    #header {
        position: relative;
    } */
    
    #main #header .icon {
        list-style-type: none;
        position: absolute;
        left: 1600px;
        top: 0;
    }
    
    #main #slider .icon .uer {
        position: absolute;
        right: 150px;
        top: 45px;
        font-size: 25px;
        color: #333;
    }
    
    #main #slider .icon .cart {
        position: absolute;
        right: 110px;
        top: 45px;
        font-size: 25px;
        color: #333;
    }
    
    #main #slider .icon .write {
        position: absolute;
        right: 240px;
        top: 45px;
        font-size: 15px;
        color: #333;
    }
    
    #main #header .fone {
        position: absolute;
        top: 35px;
        color: #333;
        left: 53px;
        font: optional;
        font-size: 30px;
    }
    
    #main #header .number {
        text-decoration: none;
        color: #333;
        position: absolute;
        top: 45px;
        left: 90px;
    }
    
    #main #slider .icon input[type="text"] {
        height: 10px;
        width: 170px;
        border: 1px solid black;
        border-radius: 4px;
        outline: none;
        padding: 10px 14px;
    }
    
    #main #slider .icon input[type="text"]:focus {
        width: 300px;
    }
    
    #main #slider .icon .sre {
        position: absolute;
        right: 200px;
        top: 48px;
        font-size: 20px;
        color: #333;
    }
    
    #main #header .icon .sre:hover {
        cursor: pointer;
    }
    /*end header */
    /*  */
    /* slider */
    
    #slider .menu .nav {
        background-color: #C0C0C0;
        padding-left: 300px;
        line-height: 30px;
    }
    
    #nav li a {
        position: relative;
    }
    
    .nav li:hover .sub-menu {}
    
    #slider .menu .nav>li>a {
        text-transform: uppercase;
    }
    
    #slider .menu>ul {
        list-style: none;
        padding-left: 50px;
    }
    
    #slider .menu>ul>li {
        display: inline-block;
        padding-right: 30px;
        margin-top: 10px;
        font-size: 20px;
        margin: 0 auto;
    }
    
    #slider .menu>ul>li>a {
        text-decoration: none;
        color: #000;
    }
    
    #slider .menu>ul>li:hover>a {
        color: #fb252f;
        font-weight: bold;
    }
    
    .nav li:hover .sub-menu {
        display: block;
    }
    
    .nav .sub-menu {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 200px;
        line-height: 36px;
        box-shadow: 0 0 10px rgb(128, 118, 118);
    }
    
    #slider .menu .nav .sub-menu a {
        text-decoration: none;
        color: #000;
    }
    
    #slider .menu .nav .sub-menu li {
        list-style: none;
    }
    
    .nav .sub-menu a {
        padding: 10px 12px;
    }
    
    .nav .sub-menu li:hover {
        background-color: #fb252f;
        font-weight: bold;
    }
    /* content */
    
    #content .list-product {
        max-width: 100%;
        padding-left: 80px;
        margin: 30px;
    }
    
    #content .list-product .product {
        width: 20%;
        height: 380px;
        margin: 10px 20px;
        display: inline-block;
    }
    
    #content .list-product .product img {
        margin: 5px;
        max-width: 100%;
        height: 280px;
        padding-bottom: 10px;
    }
    
    .product {
        overflow: hidden;
    }
    
    .product:hover img {
        transform: scale(1.1);
        transition: all 1s linear;
    }
    
    .list-product .product {
        border-radius: 6px;
        border: 2px solid #000;
        box-shadow: 0px 0px 5px gray;
        margin: 5px;
        text-align: center;
        /* margin-left: 20px; */
        /* overflow: hidden; */
        box-sizing: border-box;
        /* margin-bottom: 100px; */
    }
    
    .list-product .product p {
        margin-top: 10px;
        font-size: 20px;
        font-variant: small-caps;
    }
    
    #backtop {
        font-size: 35px;
        width: 50px;
        height: 50px;
        color: #fff;
        background-color: #C0C0C0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 40px;
        right: 30px;
        border-radius: 50%;
        z-index: 3;
    }
    
    #backtop a {
        color: #fff;
    }
    /* footer */
    
    footer {
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 30px;
        background: rgb(179, 175, 173);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    footer {
        width: 100%;
        height: 450px;
        background: rgb(179, 175, 173);
    }
    
    iframe {
        float: right;
        position: absolute;
        right: 40px;
        top: 20px;
    }
    
    footer .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    footer .container .noi-dung {
        margin-right: 15px;
    }
    
    footer .container .noi-dung.about {
        width: 40%;
        height: 100px;
    }
    
    footer .container .noi-dung.about h2 {
        position: relative;
        color: black;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    footer .container .noi-dung.about h2:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: #f00;
    }
    
    footer .container .noi-dung.about p {
        color: black;
    }
    /*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
    
    .social-icon {
        margin-top: 20px;
        display: flex;
    }
    
    .social-icon li {
        list-style: none;
    }
    
    .social-icon li a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: rgb(167, 149, 149);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 4px;
    }
    
    .social-icon li a:hover {
        background: rgb(49, 42, 42);
    }
    
    .social-icon li a .bx {
        color: black;
        font-size: 20px;
    }
    
    .links h2 {
        position: relative;
        color: black;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .links h2 {
        position: relative;
        color: black;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .links h2::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: #f00;
    }
    
    .links {
        position: relative;
        width: 25%;
    }
    
    .links ul li {
        list-style: none;
    }
    
    .links ul li a {
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
    }
    
    .links ul li a:hover {
        color: #fff;
    }
    
    .contact h2 {
        position: relative;
        color: black;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .contact h2::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: #f00;
    }
    
    .contact {
        width: calc(35% - 60px);
        margin-right: 0 !important;
    }
    
    .contact .info {
        position: relative;
    }
    
    .contact .info li {
        display: flex;
        margin-bottom: 16px;
    }
    
    .contact .info li span:nth-child(1) {
        color: #fff;
        font-size: 20px;
        margin-right: 10px;
    }
    
    .contact .info li span {
        color: black;
    }
    
    .contact .info li a {
        color: black;
        text-decoration: none;
    }